<ion-header>
  <ion-navbar>
    <ion-title>
      Image Upload
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="upload">
	<form [formGroup]="uploadForm" (submit)="uploadImage($event)">
        <ion-item >
            <ion-label floating>Title</ion-label>
            <ion-input type="text" value="" [ngFormControl]="title"></ion-input>         
        </ion-item>
        <!-- <div *ngIf="title.hasError('required') && title.touched"
            class="error-box">* title is required!</div> -->
        <label floating>Image</label>
        <input type="file" name="image" [(ngModel)]="image">     
        <!-- <div *ngIf="image.hasError('required') && image.touched"
            class="error-box">* image is required!</div> -->
       
        <div padding>
            <button block type="submit">Submit</button>
        </div>
  </form>
</ion-content>
