<ion-header>
    <ion-navbar dark>
        <ion-title>Image-me</ion-title>
    </ion-navbar>
</ion-header>
<!-- page container  -->
<ion-content class="test">
    <!-- card -->
    <ion-card>
        <ion-card-header>
            Your Gallery
        </ion-card-header>
        <ion-card-content>
            Here's your bunker
        </ion-card-content>
    </ion-card>
    <br>
    <br>
    <br>
    <div>
        <div *ngIf="loading">loading...</div>
        <pre *ngIf="!loading">
            <div *ngFor="#obj of data ">
            {{obj.image}}
            </div>
        </pre>
    </div>
</ion-content>
