<ion-header>
    <ion-navbar dark>
        <ion-title>Image-me</ion-title>
    </ion-navbar>
</ion-header>
<!-- page container  -->
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>
    <!-- card -->
    <ion-card>
        <ion-card-header>
            Your Gallery
        </ion-card-header>
        <ion-card-content>
            Here's your bunker
        </ion-card-content>
    </ion-card>
    <div>
        <pre *ngIf="!loading">
            <ion-grid>
                <ion-row *ngFor="let row of data | threePerRow">
                    <ion-col width-33 *ngFor="let img of row">
                        <img  id="{{img.id}}" src="data:image/png;base64,{{img.image}}" height="250px" (click)=clicked($event)>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </pre>
    </div>
</ion-content>
