<ion-header>
    <ion-navbar dark>
        <ion-title>Image-me</ion-title>
    </ion-navbar>
</ion-header>
<!-- page container  -->
<ion-content class="test">
    <!-- card -->
    <ion-card>
        <ion-card-header>
            Your Gallery
        </ion-card-header>
        <ion-card-content>
            Here's your bunker
        </ion-card-content>
    </ion-card>
    <div>
        <div *ngIf="loading">loading...</div>
        <pre *ngIf="!loading">
            <ion-grid>
                <ion-row>
                    <div *ngFor="let obj of data">
                        <ion-col width-33>
                            <ion-card class="img-card">
                                {{obj.title}}
                                <img  id="{{obj.id}}" src="data:image/png;base64,{{obj.image}}" (click)=clicked($event)>
                                <ion-card-content>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </div>
              </ion-row>
            </ion-grid>
        </pre>
    </div>
</ion-content>
