<ion-header>
    <ion-navbar dark>
        <ion-title>Image-me</ion-title>
    </ion-navbar>
</ion-header>
<!-- page container  -->
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>
    <!-- card -->
    <ion-card>
        <ion-card-header>
            Your Gallery
        </ion-card-header>
        <ion-card-content>
            Here's your bunker
        </ion-card-content>
    </ion-card>
    <div>
        <div *ngIf="loading">loading...</div>
        <pre *ngIf="!loading">
            <div *ngFor="let obj of data">
                <ion-card class="img-card">
                    {{obj.title}}
                    <img  id="{{obj.id}}" src="data:image/png;base64,{{obj.image}}" (click)=clicked($event)>
                    <ion-card-content>
                    </ion-card-content>
                </ion-card>
            </div>
        </pre>
    </div>
</ion-content>
